<!DOCTYPE html>
<html lang="en">
<head>
    <script defer src="../static/script.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="author" content="Maddy Ng">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Maddy Ng professional website">
    <title>Maddy Ng</title>
</head>
<body style="font-family: Arial" onload="addYear()">
    <header>
        <h1 id="webname">Maddy Ng</h1>
        
        <div class="nav-links">
            <nav>
            <a href="../index.html" target="_self">Home</a>
            <a href="cv.html" target="_self">CV</a>
            <a href="fun.html" target="_self">For Fun</a>
            <a href="contact.html" target="_self">Contact Me</a>
            </nav>
        </div>
        
    </header>
    <div class="mainLayout">

        <div id="item1">
            <h2>Find Me</h2>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48583.180760705!2d-80.01494767832033!3d40.4432027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f21f58679a9f%3A0x88716b461fc4daf4!2sCarnegie%20Mellon%20University!5e0!3m2!1sen!2sus!4v1742403172447!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div id="item2">
            <h2>Contact Me</h2>

            <form>
                <label for="name">Your name (required)</label>
                <input type="text" id="name" name="name" required>
                <label for="email">Your email (required)</label>
                <input type="email" id="email" name="email" required>
                <label for="comment">Your comment (required)</label>
                <textarea id="comment" name="comment" rows="10" cols="30" required></textarea><br>
                <input type="submit" value="Send" onclick="validate()">
                <p id="ValidateMsg"></p>
            </form>
        </div>

        <table>
            <tr>
                <th>Contact Method</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Email</td>
                <td>madelein@andrew.cmu.edu</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>000-0000-0000</td>
            </tr>
            <tr>
                <td>LinkedIn</td>
                <td>(url here)</td>
            </tr>
        </table>

    </div>
        <footer>
            <p id="copyYear">Designed by Maddy Ng &copy;</p>
        </footer>
</body>
</html>